

<div *ngIf="(basket$ | async) as basket" >

    <div class="pb-5">
        <div class="container">
            <h1 class="text-center text-primary font-weight-bold my-2 py-3">Details de la commande </h1>
            <div class="row">
                <div class="table-responsive">
                    <table class="table">
                        <thead class="bg-primary text-uppercase text-left text-white">
                            <tr>
                                <th class="border-0 " scope="col">
                                    <div class="p-2 px-3 "> Products</div>
                                </th>
                                <th class="border-0 " scope="col">
                                    <div class="p-2 px-3 "> Price</div>
                                </th>
                                <th class="border-0 " scope="col">
                                    <div class="p-2 px-3 "> Quantity</div>
                                </th>
                                <th class="border-0 " scope="col">
                                    <div class="p-2 px-3 "> Total</div>
                                </th>
<!--                            <th class="border-0 " scope="col">
                                    <div class="p-2 px-3 "> Remove</div>
                                </th -->
                            </tr>
                        </thead>
                        <tbody >
                            <tr *ngFor="let item of basket.items">
                                <th scope="row" class="row  align-items-center" style="max-width:450px;">
                                    <div class="p-2">
                                        <img src="{{item.pictureUrl}}" alt="{{item.productName}}"class="img-fluid" style="width:80px">
                                    </div>
                                    <div class="ml-3 d-inline-block align-middle">
                                        <p class="mb-0 font-weight-bold">
                                            <a routerLink="/shop/{{item.idProduct}}"class="text-dark">{{item.productName.substring(0,18)+"..."}}</a>
                                        </p>
                                        <span class="text-muted font-weight-normal font-italic d-bolck">
                                            type : {{item.type}}
                                        </span>
                                    </div>
                                </th>
                                <td class="align-middle"><strong>{{ item.price  }}TND</strong></td>
                                <td class="align-middle">
                                    <div class="d-flex align-items-center">
                                        <span class="font-weight-bold " style="cursor:pointer;font-size:2em;">{{item.quantity }}</span>
                                    </div>
                                </td>
                                <td class="align-middle"><strong>{{ item.price * item.quantity }}TND</strong></td>
                                <!-- <td class="align-middle text-center">any</td> -->
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>



</div>