<!-- <p>footer works!</p> -->
<div class="d-flex  row align-items-start justify-content-center 
    px-4  bg-white border-top shadow-lg  float-bottom mt-3">
    <div class=" col-md-4  col-sm-12 flex-column justify-content-left align-items-start text-left  m-0 p-0 my-4 footer-mb-tb">
        <img class=" font-weight-normal logo" 
        src="/assets/images/logo.png" style="max-height: 70px;" alt="logo" routerLink="">
        <div class="m-0 ml-3 non-m-mb">
            <p >N°1 du #Gaming en Tunisie, PCs Gamers & Stations Pro, accessoires et composants, les prix les moins chers

                Adresse: Bloc C rdc - SANA BUSINESS CENTER - Centre urbain nord - Tunis 1082
                
                Téléphone:
                <br>(+216) 25 422 510
                <br>(+216) 25 422 510</p>
        </div>
        
    </div>
    <div class=" col-md-4 col-sm-12 justify-content-md-center  flex-column align-items-md-start text-md-center m-0 p-0 my-5 footer-mb-tb">
        <h4 class="text-primary "><strong>Nos Liens</strong></h4>
            <a class="text-dark font-weight-bold" [routerLink]="['/']" 
                routerLinkActive="active" 
                [routerLinkActiveOptions]="{exact : true}">Accueil
            </a><br>
            <a class="text-dark font-weight-bold mx-md-2 " routerLink="/shop" routerLinkActive="active">Produits</a><br>
            
            <a class="text-dark font-weight-bold " routerLink="/contact" routerLinkActive="active">Contact</a><br>
            <a class="text-dark font-weight-bold  " routerLink="/basket" routerLinkActive="active">Panier</a><br>
    </div>
    <div class=" col-md-4 col-sm-12 justify-content-md-right justify-content-sm-left align-items-center text-md-right m-0 p-0 my-5 footer-mb-tb">
        <h4 class="text-primary"><strong>Suivez-nous :</strong></h4>
        <div class="mb-2">
            <span class="btn btn-outline-dark fa fa-linkedin mr-2"></span>
            <span class="btn btn-outline-dark fa fa-youtube mr-2"></span>
            <span class="btn btn-outline-dark fa fa-facebook-f mr-2"></span>
            <span class="btn btn-outline-dark fa fa-instagram"></span>
        </div>


    </div>

</div>
<div class="text-center bg-primary py-2">
    <span class="text-white font-weight-bold "> ©_TechnoTips || Développé par <a  class="text-white font-weight-bold " href="https://www.linkedin.com/in/taib-boudraa-11b712209/"> Taib Boudhraa</a></span>
</div>
