<div class="home m-0 p-0">

    <a routerLink="/shop"  class="btn btn-warning fice font-weight-bold text-white border-warning border border-5 m-5">Choisissez Votre Équipement</a>

</div>
<h1 class="mt-5 font-weight-normal text-primary text-center"><strong>Partenaires</strong></h1>
<div class="row m-0 mt-5 p-0">
    <div class="col-md-1"></div>
    <div class="col-md-2 d-flex  flex-col align-items-center justify-content-center" >
        <div class="text-center text-primary">
           <img src="../../assets/images/msi_logo.png" style="width :92px;">
            
        </div>    
    </div>
    <div class="col-md-2 d-flex  flex-col align-items-center justify-content-center" >
        <div class="text-center text-primary">
           <img src="../../assets/images/sumsung_logo.png" style="width :92px;">
            
        </div>    
    </div>
    <div class="col-md-2 d-flex  flex-col align-items-center justify-content-center" >
        <div class="text-center text-primary">
           <img src="../../assets/images/lenovo_logo.png" style="width :92px;">
            
        </div>    
    </div>
    <div class="col-md-2 d-flex  flex-col align-items-center justify-content-center" >
        <div class="text-center text-primary">
            <img src="../../assets/images/hp.logo.png" style="width :92px;">
            
        </div>    
    </div>
    <div class="col-md-2 d-flex  flex-col align-items-center justify-content-center" >
        <div class="text-center text-primary">
            <img src="../../assets/images/Dell_log.png" style="width :92px;">
            
        </div>    
    </div>
    <div class="col-md-1"></div>
    </div>

    <h1 class="mt-5 font-weight-normal text-primary text-center"><strong>Recommandations</strong></h1>
    <div class="row m-0 mt-5 px-3">
        <div class="col-md-3 m-0 p-0">
            <div class="text-center text-primary">
               <a [routerLink]="['/shop/117']"> <img src="../../assets/images/5510G15-I5-256SSD.jpg" class=" p-3 card shadow-sm" style="width:100%;"> </a> 
                
            </div>
        </div>
        <div class="col-md-3 m-0 p-0  d-flex  flex-col align-items-center justify-content-center" >
            <div class="text-center text-primary">
                <a [routerLink]="['/shop/119']"> <img src="../../assets/images/ALPHA-I3-1650.jpg" class=" p-3 card shadow-sm" style="width:100%;"> </a>
                
            </div>    
        </div>
        <div class="col-md-3 m-0 p-0 d-flex  flex-col align-items-center justify-content-center" >
            <div class="text-center text-primary">
                <a [routerLink]="['/shop/111']"> <img src="../../assets/images/BU-GF63THIN11SC-613XFR.jpg"  class=" p-3 card shadow-sm" style="width:100%;"> </a>
                
            </div>    
        </div>
        <div class="col-md-3 m-0 p-0 d-flex  flex-col align-items-center justify-content-center" >
            <div class="text-center text-primary">
                <a [routerLink]="['/shop/103']"> <img src="../../assets/images/QUEEN1-I5-1660SUPER.jpg" class=" p-3 card shadow-sm" style="width:100%;"> </a>
                
            </div>    
        </div>
    </div>
    <div class="row m-0 px-3">
        <div class="col-md-3 m-0 p-0">
            <div class="text-center text-primary">
                <a [routerLink]="['/shop/101']"> <img src="../../assets/images/612B0EA.jpg" class=" p-3 card shadow-sm" style="width:100%;"> </a>
                
            </div>
        </div>
        <div class="col-md-3 m-0 p-0  d-flex  flex-col align-items-center justify-content-center" >
            <div class="text-center text-primary">
                <a [routerLink]="['/shop/104']"> <img src="../../assets/images/GODZILLA-I5-1650.jpg" class=" p-3 card shadow-sm" style="width:100%;"> </a>
                
            </div>    
        </div>
        <div class="col-md-3 m-0 p-0 d-flex  flex-col align-items-center justify-content-center" >
            <div class="text-center text-primary">
                <a [routerLink]="['/shop/114']"> <img src="../../assets/images/81WQ00GRFG.jpg"  class=" p-3 card shadow-sm" style="width:100%;"> </a>
                
            </div>    
        </div>
        <div class="col-md-3 m-0 p-0 d-flex  flex-col align-items-center justify-content-center" >
            <div class="text-center text-primary">
                <a [routerLink]="['/shop/112']"> <img src="../../assets/images/81VT0058FG.jpg" class=" p-3 card shadow-sm" style="width:100%;"> </a>
                
            </div>    
        </div>
    </div>


    <h1 class="mt-5 font-weight-normal text-primary text-center"><strong>Services</strong></h1>
<div class="row m-0 mt-5 p-0">
<div class="col-md-1"></div>
<div class="col-md-3  d-flex  flex-col align-items-center justify-content-center" >
    <div class="text-center text-dark">
        <span class="bg-icon-home"><img src="../../assets/images/icone-service-1.webp" style="width:65px;"></span>
        <strong>Livraison   <br> a toute la tunisie</strong>
    </div>    
</div>
<div class="col-md-4 d-flex  flex-col align-items-center justify-content-center" >
    <div class="text-center text-dark">
        <span class="bg-icon-home"><img src="../../assets/images/icone-service-3.webp" style="width:65px;"></span>
        <strong>SATISFAIT <br> OU  REMBOURSÉ</strong>
    </div>    
</div>
<div class="col-md-3 d-flex  flex-col align-items-center justify-content-center" >
    <div class="text-center text-dark">
        <span class="bg-icon-home"><img src="../../assets/images/icone-service-2.webp" style="width:65px;"></span>
        <strong>Disponible 24/7   <br> 25422510</strong>
    </div>    
</div>
<div class="col-md-1"></div>
</div>

