.container-principal{
    margin-top: 140px;
    min-height: 60vh !important;

}
.container{
    //margin-top: 140px;

}
:root{
    .color_1{
    
        color :#247D68 !important;
        //background: #247D68;
    }
}


