<form class="form-signin shadow p-3 mb-5 bg-white rounded" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="text-center mb-4">
      <h1 class="h3 mb-3 font-weight-normal text-primary"><strong>Inscription</strong></h1>

    </div>


    <div class="form-row m-0">
        <input formControlName="displayName" type="text" id="inputdisplayName" class="form-control" placeholder="Pseudonyme" >
        <!-- <label for="inputdisplayName">Pseudonyme</label> -->
        <span class="text-danger"
          *ngIf="registerForm.get('displayName').invalid 
          && registerForm.get('displayName').touched
          && registerForm.get('displayName').errors['required']  ">
          Pseudonyme est obligatoire
        </span>
    </div>

    <div class="form-label-group">
    </div>

    <div class="form-row m-0">
      <input  formControlName="email" type="email" id="inputEmail" class="form-control" placeholder="Email"  autofocus="" >
      <!-- <label for="inputEmail">Email</label> -->
      <span class="text-danger" *ngIf="registerForm.get('email').invalid && registerForm.get('email').touched && registerForm.get('email').errors['required']">
        Email est obligatoire
      </span>
      <span class="text-danger"
        *ngIf="registerForm.get('email').invalid 
        && registerForm.get('email').touched
        && registerForm.get('email').errors['pattern']">
        Votre email n'est pas valide
      </span>
    </div>
    
    <div class="form-label-group">
    </div>

    <div class="form-row m-0 ">
      <input formControlName="passowrd" type="password" id="inputPassword" class="form-control" placeholder="Mot de passe" >
      <!-- <label for="inputPassword">Mot de passe</label> -->
      <span class="text-danger"
        *ngIf="registerForm.get('passowrd').invalid 
        && registerForm.get('passowrd').touched
        && registerForm.get('passowrd').errors['required']  ">
        Mot de passe est obligatoire
      </span>
      <span class="text-danger"
        *ngIf="registerForm.get('passowrd').invalid 
        && registerForm.get('passowrd').touched
        && registerForm.get('passowrd').errors['pattern']  ">
        Mot de passe doit contenir 1 caractere majuscule , 1 caractere minuscule , 1 chiffre , 1 symbole et au moins 6 caractères
      </span>
    </div>

    <div class="form-label-group">
    </div>

    <div class="form-row">
      <div class="col">
        <input formControlName="firstName" type="text"  class="form-control" placeholder="Nom" >
        <!-- <label for="firstName">Nom</label> -->
        <span class="text-danger" *ngIf="registerForm.get('firstName').invalid && registerForm.get('firstName').touched&& registerForm.get('firstName').errors['required']  ">
          Nom est obligatoire
        </span>
      </div>
      <div class="col">
        <input formControlName="lastName" type="text"  class="form-control" placeholder="Prenom" >
        <!-- <label for="lastName">Prenom</label> -->
        <span class="text-danger" *ngIf="registerForm.get('lastName').invalid && registerForm.get('lastName').touched&& registerForm.get('lastName').errors['required']  ">
          Prenom est obligatoire
        </span>
      </div>
    </div>

    <div class="form-label-group">
    </div>

    <div class="form-row m-0 ">
      <input formControlName="phoneNumber" type="text"  class="form-control"   placeholder="Numero de telephone">
      <!-- <label for="phoneNumber">Numero de telephone</label> -->
      <span class="text-danger" *ngIf="registerForm.get('phoneNumber').invalid && registerForm.get('phoneNumber').touched&& registerForm.get('phoneNumber').errors['required']  ">
        Numéro de téléphone est obligatoire
      </span>
      <span class="text-danger" *ngIf="registerForm.get('phoneNumber').invalid && registerForm.get('phoneNumber').touched&& registerForm.get('phoneNumber').errors['pattern']  ">
        Numéro de téléphone doit comporter 8 chiffres
      </span>
    </div>

    
    <div class="form-label-group">
    </div>

    <div class="form-row">
      <div class="col">
        <input formControlName="street" type="text"  class="form-control"  placeholder="Rue" >
        <!-- <label for="street">Rue</label> -->
        <span class="text-danger" *ngIf="registerForm.get('street').invalid && registerForm.get('street').touched&& registerForm.get('street').errors['required']  ">
          Rue est obligatoire
        </span>
      </div>
      <div class="col">
        <input formControlName="city" type="text"  class="form-control"  placeholder="Ville">
        <!-- <label for="city">Ville</label> -->
        <span class="text-danger" *ngIf="registerForm.get('city').invalid && registerForm.get('city').touched&& registerForm.get('city').errors['required']  ">
          Ville est obligatoire
        </span>
      </div>
    </div>
    <div class="form-label-group">
    </div>

    <div class="form-row">
      <div class="col">
        <input formControlName="state" type="text"  class="form-control" placeholder="Gouvernorat" >
        <!-- <label for="state">Gouvernorat</label> -->
        <span class="text-danger" *ngIf="registerForm.get('state').invalid && registerForm.get('state').touched&& registerForm.get('state').errors['required']  ">
          Gouvernorat est obligatoire
        </span>
      </div>
      <div class="col">
        <input formControlName="zipcode" type="text"  class="form-control" placeholder="Code postal" >
        <!-- <label for="zipcode">Code postal</label> -->
        <span class="text-danger" *ngIf="registerForm.get('zipcode').invalid && registerForm.get('zipcode').touched&& registerForm.get('zipcode').errors['required']  ">
          Code postal est obligatoire
        </span>
        <span class="text-danger" *ngIf="registerForm.get('zipcode').invalid && registerForm.get('zipcode').touched&& registerForm.get('zipcode').errors['pattern']  ">
          Code postal est doit étre une numéro
        </span>
      </div>
    </div>
    
    <div class="form-label-group">

    </div>
    <div class="form-label-group">

    </div>

       

    <div class="checkbox mb-3">
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Inscription</button>

    <div class="text-center">
      <a routerLink="/account/login" class="btn text-primary font-weight-bold" >Connexion</a>
    </div>
    <ul class="text-danger text-center list-unstyled" *ngIf="errors">
        <li *ngFor="let error of errors" >
            {{error}}
        </li>
    </ul>
  </form>