<p>update-type works!</p>
<form [formGroup]="typeDetail" (ngSubmit)="updatetype()" >
    <div class="row m-0 p-0">
      <div class="col-10 m-0 justify-content-between">
        <input  formControlName="id" [(ngModel)]="type.id" type="hidden"  class=" col-10 form-control " placeholder="id"  value="0"   >
        <input  formControlName="name"[(ngModel)]="type.name" type="text"  class="form-control " placeholder="name"    >
      </div>
      <button  class="btn btn-sm btn-success fa fa-check col-2 float-right "></button>
    </div>
  </form>