<h1 hidden>Produits</h1>
<div class="container">
  <div class="row  m-0 p-0 mt-5">


    <section class="col-md-3 col-sm-12 ">
      <div class="row  m-0 align-items-center">
        <h6 class="col-4 text-primary "> <strong> Trié </strong> </h6>
          
        <select name="" id="" class="custom-select col-8 form-control b-r-n" (change)="onSortSelected($event.target.value)">
          <option *ngFor="let sort of sortOption" [value]="sort.value" class="form-control b-r-n">{{sort.name}}</option>
        </select>
      </div>
        <div class="bg-dark rounded-top pl-3  py-1 mt-4 align-items-center">
          <h4 class="bg-dark text-white  ">Marques</h4>
        </div>
        
        <ul class="list-group m-0 p-0">
          <li class="list-group-item rounded-0 mt-0"
           *ngFor="let brand of brands"
            [class.active]="brand.id===this.shopParams.brandId"
            [value]="brand.id"
            (click)="onBrandSelected(brand.id)" >
              {{brand.name}}
          </li>

        </ul>

        <div class="bg-dark rounded-top pl-3  py-1 mt-4 align-items-center">
          <h4 class="bg-dark text-white  ">Catégories</h4>
        </div>
        <ul class="list-group">
          <li class="list-group-item rounded-0"
            *ngFor="let type of types"
            [class.active]="type.id===this.shopParams.typeId"
            [value]="type.id"
            (click)="onTypeSelected(type.id)">
              {{type.name}}
          </li>

        </ul>
    </section>


    <section class="col-md-9 ">
      <div class="row ">

      </div>
      <div class=" d-flex justify-content-between align-items-center pb-2 Thidden">
        
        <app-paging-header 
          [totalCount]="totalCount"
          [pageSize]="this.shopParams.pageSize"
          [pageNumber]="this.shopParams.pageNumber"
        ></app-paging-header>

        <div class="row m-0 ">
          <input  (keyup.enter)="onSearch()" #search type="text" class="form-control  mr-2 w-300"  placeholder="Nom de produit">
          <button (click)="onSearch()" class="btn btn-outline-primary ml-2">Chercher</button>
          <button (click)="onReset()"class="btn btn-outline-primary ml-2">Annuler</button>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-md-4" *ngFor="let item of products" >
          <app-product-item [product]="item"></app-product-item>
          <!---->
        </div>
        
      </div>
      <div class="d-flex justify-content-center" *ngIf="totalCount >0">

        <app-pager
          [pageSize]="shopParams.pageSize"
          [totalCount]="totalCount"
          (pageChanged)="onPageChange($event)"
        ></app-pager>

      </div>
    </section>
  </div>
</div>

<!--
  <ul>
    <li class="list-unstyled"  *ngFor=" let product of products">
      {{product.name}}
    </li>
  </ul>
-->