<h1>Shop Page </h1>
<div class="container">
  <div class="row mt-5">


    <section class="col-3">
        <h4 class="text-warning ml-3">Sort</h4>
        <select name="" id="" class="custom-select" (change)="onSortSelected($event.target.value)">
          <option *ngFor="let sort of sortOption" [value]="sort.value">{{sort.name}}</option>
        </select>

        <h4 class="text-warning ml-3 mt-3 ">Brands</h4>
        <ul class="list-group">
          <li class="list-group-item"
           *ngFor="let brand of brands"
            [class.active]="brand.id===this.brandIdSelected"
            [value]="brand.id"
            (click)="onBrandSelected(brand.id)" >
              {{brand.name}}
          </li>

        </ul>

        <h4 class="text-warning ml-3 mt-3">Types</h4>
        <ul class="list-group">
          <li class="list-group-item "
            *ngFor="let type of types"
            [class.active]="type.id===this.typeIdSelected"
            [value]="type.id"
            (click)="onTypeSelected(type.id)">
              {{type.name}}
          </li>

        </ul>
    </section>


    <section class="col-9">

      <div class="d-flex justify-content-between align-items-center pb-2">
        <header>
          <h4 class="text-warning" >Showing <strong>6</strong> of <strong>10</strong> Products </h4>
        </header>
        <div class="form-inline">
          <input type="text" class="form-control mr-2" style="width:300px" placeholder="Search">
          <button class="btn btn-outline-success ml-2">Search</button>
          <button class="btn btn-outline-success ml-2">Reset</button>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-md-4" *ngFor="let item of products" >
          <app-product-item [product]="item"></app-product-item>
        </div>
        
      </div>
    </section>
  </div>
</div>

<!--
  <ul>
    <li class="list-unstyled"  *ngFor=" let product of products">
      {{product.name}}
    </li>
  </ul>
-->