.prod-num{
    position: absolute;
    min-height: 25px;
    min-width: 25px;
    border-radius: 50%;
    font-size: 1em;
    background: #C67F10;
    color: white;
    text-align: center;
    top : -12px;
    right : 32px ; 

}
nav{
    a{
        font-size: larger;
        text-decoration: none;
        color : #343a40;
        &.active {
            color : #C67F10;
        }
    }

}
.logo{
    cursor: pointer;
    max-height: 70px;

    &:focus{
        outline: none;
    }
}
@media only screen and (max-width: 768px) {

    .logo{
        cursor: pointer;
        max-height: 35px;

    }
  }
